In [1]:
%reload_ext autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
import sqlalchemy as sa

import database as db
from images import copy_images, get_list_of_images_invalid, save_metadata, select_images
from models import County, DataTrustedIdentifier

In [3]:
engine, session=db.connect()
engine.echo=False

2024-05-12 20:14:53,134 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-05-12 20:14:53,134 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-12 20:14:53,135 INFO sqlalchemy.engine.Engine select current_schema()
2024-05-12 20:14:53,135 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-12 20:14:53,136 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-05-12 20:14:53,136 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
list_minimum_image=[5, 10, 20]
list_color=['rgb', 'grayscale']
list_image_size=['256', '400', '512']
path_out = '/home/xandao/Imagens/br_dataset/images'
list_images_invalid=get_list_of_images_invalid()
list_images_invalid=list_images_invalid['barcode']

query = session.query(County).distinct().all()
state_unaccented_lower, uf_unaccented_lower, county_unaccented_lower=db.get_state_uf_county(query)

In [5]:
for color in list_color:
    for image_size in list_image_size:
        for minimum_image in list_minimum_image:
            list_level = []
            list_path_images_final = []
            list_seq_final = []
            list_count_samples = []

            level=DataTrustedIdentifier.specific_epithet_trusted
            out=os.path.join(path_out, color.upper(), level.name, image_size, str(minimum_image))

            condition = sa.and_(DataTrustedIdentifier.country_trusted.__eq__('Brasil'),
                                level.is_not(None),
                                sa.or_(uf_unaccented_lower, state_unaccented_lower))

            query = db.get_records_group_by_level(condition, level, minimum_image, session)
            print('color: %s image_size: %s minimum_image: %d' % (color.upper(), image_size, minimum_image))
            select_images(color, image_size, list_count_samples, list_level, list_images_invalid, list_path_images_final, list_seq_final, minimum_image, session, query)

            list_dst, list_f = copy_images(list_level, list_path_images_final, out)
            save_metadata(color, image_size, level, list_count_samples, list_dst, list_f, list_level, list_path_images_final, list_seq_final, minimum_image, out, session)

/home/xandao/piperaceae-sql/database.py:83: SAWarning: Class unaccent will not make use of SQL compilation caching as it does not set the 'inherit_cache' attribute to ``True``.  This can have significant performance implications including some performance degradations in comparison to prior SQLAlchemy versions.  Set this attribute to True if this object can make use of the cache key generated by the superclass.  Alternatively, this attribute may be set to False which will disable this warning. (Background on this warning at: https://sqlalche.me/e/20/cprf)
  .all()

color: RGB image_size: 256 minimum_image: 5
total of levels: 236 total of images: 10498

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       236
total                                                      10498
average                                                    44.48

color: RGB image_size: 256 minimum_image: 10
total of levels: 161 total of images: 9976

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       161
total                                                       9976
average                                                    61.96

color: RGB image_size: 256 minimum_image: 20
total of levels: 106 total of images: 9221

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9221
average                                                    86.99

color: RGB image_size: 400 minimum_image: 5
total of levels: 236 total of images: 10498

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       236
total                                                      10498
average                                                    44.48

color: RGB image_size: 400 minimum_image: 10
total of levels: 161 total of images: 9976

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       161
total                                                       9976
average                                                    61.96

color: RGB image_size: 400 minimum_image: 20
total of levels: 106 total of images: 9221

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9221
average                                                    86.99

color: RGB image_size: 512 minimum_image: 5
total of levels: 236 total of images: 10498

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       236
total                                                      10498
average                                                    44.48

color: RGB image_size: 512 minimum_image: 10
total of levels: 161 total of images: 9976

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       161
total                                                       9976
average                                                    61.96

color: RGB image_size: 512 minimum_image: 20
total of levels: 106 total of images: 9221

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9221
average                                                    86.99

color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 0 total of images: 0

/home/xandao/piperaceae-sql/images.py:50: RuntimeWarning: invalid value encountered in scalar divide
  data=[out, color, image_size, minimum_image, level.name, len(list_level), total, round(total/len(list_level), 2)]

                                                               0
dst            /home/xandao/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                         0
total                                                        0.0
average                                                      NaN

In [6]:
session.close()
engine.dispose()